
*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: #F7CD75;
    font-family: Arial, Helvetica, sans-serif;

}
.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    overflow-x: hidden;
}

.wallet__title{
   color: #4C4C4C ;
   font-size: 27px;
  display: flex;
  width: 220px;
  justify-content: space-between;
   
}

.wallet{ 
  
    width: 300px;
    height: 450px;
    padding: 30px;
    background-color: #F0F0F0;
    overflow: hidden;
    overflow-y: scroll;
}



.card__number{
    
    color: #4C4C4C;
}
.card__date{
    color: #4C4C4C;
}

.wallet::-webkit-scrollbar{
    width: 8px;
}
.wallet::-webkit-scrollbar-thumb{
    background-color: #F0F0F0;
    border-radius: 8px;
}
.wallet::-webkit-scrollbar-track{
    background-color: #F0F0F0;
}
.wallet::-webkit-scrollbar-thumb:hover{
    background-color: #6F6F6F;
}


.card__label{
    border: solid 1px #72799C;
    width: 220px;
    display: block;
    border-radius: 10px;
    background-color: #FFF; 
    cursor: pointer;
}

.card__label:hover{
    box-shadow: 0px 0px 2px 2px  #878DAA;

}
.card__input{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;


}
.card__input:checked + .card__label{
    box-shadow: 0px 0px 2px 2px  #878DAA;
}  
.card{
    margin-top: 30px;
}
.box{
    margin-left: 30px;
}


.Balance{
    width: 500px;
    background-color: #fff;
    padding: 20px;
    height: 450px;
    overflow: hidden;
    overflow-y: scroll;
 
}
.Balane__title--warpper{
    display: flex;
    align-items: center;
}
.all--price{
    font-size: 32px;
    margin-left: auto;
    font-weight: bold;
}
.line{
    width: 450px;
}


.Balance__list{
    position: relative;
    
}
.Balance__item::before{
    content: "";
    width: 25px;
    height: 25px;
    background-color: #fff ;
    border-radius: 50px;
    border: 1px solid #DEDEDE;
    position: absolute;
    left: -2px;
    background-image: url("/img/minus.svg");
    background-position: center;
    
}
.Balance__item:hover::before{
  
    background-image: url("/img/plus.svg");
   
}


.Balance__item{
    display: flex;
    margin-top: 32px;
    align-items: center;
    cursor: pointer;
}
.item--title{
    padding: 0;
    margin: 0;

}
.item--text{
    color:#C5C5C5 ;
    font-size: 12px;
    font-weight: medium;

}
.item--price{
    color: #8797C6;
    margin-left: auto;
    font-weight: bold;
}
.item--price:hover{
    color: #83B166;
    
}
.Balance::-webkit-scrollbar{
    width: 8px;
}
.Balance::-webkit-scrollbar-thumb{
    background-color: #FFF;
    border-radius: 8px;
}
.Balance::-webkit-scrollbar-track{
    background-color: #fff;
}
.Balance::-webkit-scrollbar-thumb:hover{
    background-color: #6F6F6F;
}
